@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.courses-listing {
  padding: 40px 20px;
  /* max-width: 2000px; */
  /* margin: 0 auto; */
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.filters select {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  height: 47px !important;
}

.filters input {
  width: 440px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.stars{
  font-size: 20px !important;
}

.txt, .course-instructor{
  margin-bottom: 3px;
}

.course-cardd {
  width: 336px !important;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  /* padding: 0px !important; */
}

.course-card:hover {
  transform: translateY(-10px);
}

.course-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #f2f2f2;
}

.course-info {
  padding: 20px;
}

.course-info h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 6px;
}

.course-info p {
  font-size: 16px;
  color: #555;
}

.course-price {
  font-weight: bold;
  color: #4a90e2;
  margin-bottom: 20px;
}

.register-btn {
  position: relative;
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  bottom:0px;
}

.register-btn:hover {
  background-color: #357abd;
}
